@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
   
}
body{
    overflow-x: hidden;
}
.container{
    position: fixed;
    width: 100%;
    top: 0;
    
}

h1,h2,p{
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
}

#res{
    position: fixed;
    font-family: 'KoHo', sans-serif;
    width: auto;
    top: 70%;
    left: 30%;
    font-size: 12px;
    text-align: center;
    background-color:#ffffff8f ;
    border-radius: 20px;
    color: #555;
    box-shadow: 7px 8px rgba(85, 85, 85, 0.15);
}



.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    text-align: center;
    display: block;
    position: fixed;
    top: 0;
}

.icon-bar a {
    float: left;
    text-align: center;
    width: 16%;
    color: #fff;
    font-size: 36px;
    padding: 12px 0;
    transition: all 0.3s ease;
}

.icon-bar .active {
    background-color:#37deffc9 ;
}

.icon-bar a:hover {
    background-color:#a9e971;
}


.toggle {
    display: none;
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background:rgb(85, 85, 85);
    color: #fff;
    font-family:Arial, Helvetica, sans-serif; 
    padding: 0.25rem;     
}

main,section .box{
    width: auto;
    padding: 20px;
    position: fixed;
    margin-top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0f0f0f00;
    text-align: center;
    display: block;
}

.box input[type="number"],
.box input[ type="number"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #37deff;
    padding: 14px 10px;
    width: 100px;
    outline: none;
    color: rgb(17, 16, 16);
    border-radius: 24px;
    transition: 0.25s;

}

.box input[type="number"]:focus,
.box input[type="number"]:focus {
    width: 180px;
    border-color: #a9e971;

}

.box input[type="button"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #88eefc;
    padding: 14px 40px;
    outline: none;
    color: rgb(36, 30, 30);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;

}

.box input[type="button"]:hover {
    background: #fdf495;
}

@media(max-width:768px){
    .icon-bar{
        left: 0%;
        width: 100%;
    }
    main,section{
        width: auto;
        padding: 20px;
        position: fixed;
        margin-top: 20%;
    }
    .text{
        width: 35%;
        margin: 330px 300px;
        padding:0.25rem;
        text-align: center;
        font-size: 10px;
        
    }

}


@media (max-width:986px) {
    .icon-bar {
        width: 100px;
        background-color: #555;
    }


    .icon-bar a {
        display: block;
        font-size: 26px;
        color: #fff;
        text-align: center;
        padding: 20px;
        height: 20px;
        width: 60px;
        transition: all 0.3s ease;

    }
   

    .toggle {
        float: right;
        position: fixed;
        right: 0;
        line-height: 50px;
        font-size: 44px;
        cursor: pointer;
        display: block;
        padding: 2px 80px;
    }

    .toggle.active {
        transform: rotate(360deg);
        transition: 0.5s;
        z-index: 10000;
        right: 0;
        left: initial;
        position: fixed;
        background-color: #a9e971b0;
        padding: 0.1rem;
        margin: 5px;
    }

    .container .icon-bar.active {
        margin-left: -250px;
        transition: 0.5s;
    }
    footer{
        display: block;
        width: 100%;
    }
    main,section{
        width: 50%;
        position: fixed; 
        margin-top: 30%; 
    }
    
    #res{
        width: auto;
        margin-top: -6%;
        text-align: left; 
        left: 15%;  
    }
    h2{
        font-size: 12px;
    }

    
    .box input[type="number"]:focus,
    .box input[type="number"]:focus {
        width: 80px;
        border-color: #a9e971;

}

}

